html {
    position:relative;
    min-height: 100vh;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
    background:#e4e2e2;
    color: #777777;
}
/* =======Parallax======== */

.parallax-container {
    height: 170px;
}
/*=============== Header ===============*/
#firstParallax{
    height:65px;
}

#transpNav{ 
    background:#173539cb;
}
.googlefont1 {
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-family: 'Love Ya Like A Sister', cursive;
}
nav {
    position: fixed;
    top:0%;
    z-index:+4;
}
.navlinks {
    font-size: 20px;
    color: #c1bdbf;
}
li{
    color:black;
    font-size:22px;
}

/* ===========Styling divs (common features)============= */
h5, h3 {
    margin-top:30px;
    font-family: 'Love Ya Like A Sister', cursive;
}
h4 {
    color: #c1bdbf;
}
#aboutMe, #techSk, #portf{
    font-family:'Love Ya Like A Sister', cursive;
    color:#212121;
}
#aboutMeDiv, #aboutSkills, #aboutExperience, #aboutContacts{
    margin-top:5px;
    margin-bottom: 10px;
    background: #e4e2e2;
    padding-top:20px;
    color: #212121;
    font-size: 20px;
}
/* ==============About Anya section===============*/
.aboutMeSpans{
    font-family:'Love Ya Like A Sister';
    color:#496d77;
    font-size:25px;
}

/* ==================Portfolio section============== */
#portf {
    color: rgb(19, 18, 18);
    font-size: 60px;
}
.card-title {
    color:#006064;
    font-family:'Love Ya Like A Sister', cursive;
    font-size:36px;
}
.card{
    margin-bottom:30px;
}
.card-image img {
    max-width: 100%;
    border-radius: 10px;
}
#expBox{
    box-sizing: border-box;
}
/* img of girl */
#expGirl{
    max-width:100%;
}
/* ==========Connect with Anya section===========*/
#emailImg, #phoneImg, #linkedinImg{
    opacity:0.5;
}
#connect {
    color:black;
}
.connectP{
    color:black;
    font-weight: bold;
    font-size:20px;
    font-family: 'Love Ya Like A Sister', cursive;
}

/* =========Photos==========*/

.photo {
    margin-top: 35px;
    max-width:350px;
    border-radius: 10px;
}
#photo2 {
    margin-top: 35px;
    width:400px;
    border-radius: 10px;
}

/* =======Footer========= */

#footer{
    background:#234d53cb;
    padding-top:20px;;
    position:absolute;
    bottom:0px;
    color:rgba(255, 255, 255, 0.781);
}

/* Media Queries for Responsive Photo */

@media screen and (max-width: 992px) {
   .photo {
       width: 100%;
   }
   
}
@media screen and (max-width: 768px) {
   .photo {
       width: 100vw;
    }
    .middleNav {
        padding-left: 35px;
        padding-right: 35px;
    }
}
@media screen and (max-width: 576px) {
   .photo {
       width: 100%;
   }
   .middleNav {
       padding-left: 30px;
       padding-right: 30px;

   }
  
}

