html {
    position:relative;
    min-height: 100vh;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
    background:#e4e2e2;
    color: #777777;
    margin-bottom:70px;
}
/* =======Parallax======== */

.parallax-container {
    height: 300px;
}
#parallaxText{
    margin-top:20px;
    border:4px solid #dbdbdb98;
    border-radius:20px;
    position:relative;
    left:415px;
}
/*=============== Header ===============*/
#firstParallax{
    height:65px;
}

#transpNav{ 
    background:#173539cb;
}
.googlefont1 {
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-family: 'Love Ya Like A Sister', cursive;
}
nav {
    position: fixed;
    top:0%;
    z-index:+4;
}
.navlinks {
    font-size: 20px;
    color: #c1bdbf;
}
li{
    color:black;
    font-size:22px;
}

/* ===========Styling divs (common features)============= */
h5, h3 {
    margin-top:30px;
    font-family: 'Love Ya Like A Sister', cursive;
}
h4 {
    color: #c1bdbf;
}
#aboutMe, #techSk, #portf{
    font-family:'Love Ya Like A Sister', cursive;
    color:#212121;
}
#aboutMeDiv, #aboutSkills, #aboutExperience, #aboutContacts{
    margin-top:5px;
    margin-bottom: 10px;
    background: #e4e2e2;
    padding-top:20px;
    color: #212121;
    font-size: 20px;
}
/* ==============About Anya section===============*/
#justifyText{
    text-align: justify;
}
.aboutMeSpans{
    font-family:'Love Ya Like A Sister';
    color:#496d77;
    font-size:25px;
}
#aboutSkills{
    padding-top:20px;
    padding-bottom:20px;
}

/* ==================Portfolio section============== */
#portf {
    color: rgb(19, 18, 18);
    font-size: 60px;
}
.card-title {
    color:#006064;
    font-family:'Love Ya Like A Sister', cursive;
    font-size:36px;
}
.card{
    margin-bottom:30px;
}
.card-image img {
    max-width: 100%;
    border-radius: 10px;
}
#expBox{
    box-sizing: border-box;
}
/* img of girl */
#expGirl{
    max-width:80%;
}
/* ==========Connect with Anya section===========*/
#emailImg, #linkedinImg{
    opacity:0.7;
}

#connect {
    color:black;
}
.connectP{
    color:black;
    font-weight: bold;
    font-size:20px;
    font-family: 'Love Ya Like A Sister', cursive;
}
#lastParallaxContainer{
    box-sizing: border-box;
    height:600px;
}
#aboutContacts{
    margin-top:0px;
    height: 100%;
    background:#b9b9b99f;
}

/* =========Photos==========*/

.photo {
    margin-top: 35px;
    max-width:350px;
    border-radius: 10px;
}
#photo2 {
    margin-top: 35px;
    width:400px;
    border-radius: 10px;
}

/* =======Footer========= */

#footer{
    /* margin-top:100px; */
    background:#234d53cb;
    padding-top:20px;;
    position:absolute;
    bottom:0px;
    color:rgba(255, 255, 255, 0.781);
}

/* Media Queries */

@media screen and (max-width: 600px) {

   .card-reveal {
       font-size:15px;
   }
   #phoneNum{
       margin-top:70px;
   }
   #emailP {
       margin-top:70px;
   }
}

@media screen and (max-width:540px){
    #lastParallaxContainer{
        height:800px;
    }
}
@media screen and (max-width: 415px) {
    #phoneNum{
        margin-top:30px;
    }
    #emailP {
        margin-top:30px;
        font-size:15px;
    }
    #portf{
        font-size:45px;
    }
    #techSk{
        font-size:25px;
    }
    #justifyText{
        font-size:16px;
    }
    .aboutMeSpans, td{
        font-size:20px;
    }
} 

@media screen and (max-width: 330px){
    #emailP{
        font-size:12px;
    }
}